section#header {
  .moj {
    background-color: #FFFFFF;
    box-shadow: 5px 5px 10px #C3C3C3;
  }
  span  {
    margin-top: 15px;
    color: #000000;
    font-weight: bold;
  }
  li a{
    color: #808080;
  }
  a:hover {
    color: #22A7F0;
  }
}
