section#post_new {
  hr {
    margin-top: 150px;
    color: #2E5182;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  }
  h1 {
    margin-bottom: 50px;
  }
  a {
    color: #22A7F0;
  }
}
