section#posts_comments_index {
  .margin_top {
    margin-top: 30px;
  }
  a{
    color: #22A7F0;
  }
  a:hover {
    color: #808080;
  }
  .tit {
    font-style: italic;
  }
  .nam {
    color: #999999;
    text-shadow:0 2px 0 #FFF,
                0 3px 0 #AAA,
                0 3px 4px #AAA;
    font-weight: bold;
    margin-bottom: 20px;
  }
  hr {
    margin-top: 150px;
    color: #2E5182;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
  }
  .btn-np {
    margin-left: 18px;
  }
  .btn-np {
    color:#22A7F0;
  }
  .img-thu {
    opacity: 0,7;
  }
}
